@import "src/app-theme";
h1 {
  //color: #080024;
  font-size: 3em;
  font-weight: bold;
}

p {
  text-align: justify;
}

img{
  width: 320px;
  float: right;
  transform: scaleX(-1);
}

.social-button {
  border-radius: 50%;
  scale: 1.3;
  outline: none;

  &:hover {
    transform: scale(1.3);
  }
}
