<div class="container pt-8">

  <div class="grid">
    <div class="col-12 md:col-12 lg:col-4">
      <img src="../../../assets/images/welcome.png" alt="Welcome" *ngIf="!viewIconMenu">
    </div>

    <div class="col-12 md:col-12 lg:col-5">
      <h2>{{'welcome'|translate}} 👋</h2>
      <h1>{{'iAm'|translate:{name: 'Mario'} }}. </h1>
      <h2>{{'developer'|translate}}.</h2>
      <p>{{'intro1'|translate}}</p>
      <p>{{'intro2'|translate}}</p>

      <div class="card">
        <div class="flex justify-content-start">
          <div class="flex align-items-center justify-content-center w-4rem h-4rem">
            <button mat-icon-button class="social-button" matTooltip="WhatsApp"
                    (click)="openLink('https://wa.me/573022422101/')">
              <i class="fa-brands fa-whatsapp"></i>
            </button>
          </div>

          <div class="flex align-items-center justify-content-center w-4rem h-4rem">
            <button mat-icon-button class="social-button" matTooltip="GitHub"
                    (click)="openLink('https://github.com/dmortizcal/')">
              <i class="fa-brands fa-github"></i>
            </button>
          </div>

          <div class="flex align-items-center justify-content-center w-4rem h-4rem">
            <button mat-icon-button class="social-button" matTooltip="LinkedIn"
                    (click)="openLink('https://www.linkedin.com/in/dmortizcal/')">
              <i class="fa-brands fa-linkedin-in"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <img src="../../../assets/images/welcome.png" alt="Welcome" *ngIf="viewIconMenu">
</div>
