.container-image {
  .image {
    display: block;
    margin: 0 auto 20px;
    max-width: 800px;

    img {
      width: 100%;
    }
  }

  .custom-title, .button {
    display: flex;
    justify-content: flex-end;
  }
}

.home-container {
  padding: 20px 20px 70px 20px;
  margin-top: 56px;
  min-height: calc(100vh - 132px);
  transition: all 500ms ease-in-out;
}

.custom-title {
  font-size: 30px;
  font-weight: 600;
}

.second-information {
  display: flex;
  flex-wrap: wrap;

  .mat-card {
    width: calc(33% - 50px);
    margin: 10px;

    @media screen and (max-width: 768px) {
      width: calc(50% - 52px);
    }

    @media screen and (max-width: 457px) {
      width: 100%;
    }

    .mat-card-image {
      height: 185px;
      object-fit: cover;
    }

    .mat-card-header .mat-card-title {
      margin-bottom: 12px;
      overflow: hidden;
      word-break: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

img {
  max-width: 100%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

/* Cambiar el tamaño de la imagen en pantallas pequeñas */
@media (max-width: 768px) {
  img {
    width: 90%; /* Por ejemplo, la imagen ocupará el 50% del ancho de la pantalla */
  }
}

/* Cambiar el tamaño de la imagen en pantallas medianas */
@media (min-width: 769px) and (max-width: 1200px) {
  img {
    width: 90%; /* Por ejemplo, la imagen ocupará el 70% del ancho de la pantalla */
  }
}

/* Mantener el tamaño de la imagen en pantallas grandes */
@media (min-width: 1201px) {
  img {
    width: 40%; /* La imagen ocupará el ancho completo del contenedor */
  }
}

.center {
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 1024px;
  width: 100%
}
