<mat-toolbar color="primary">
  <a mat-icon-button *ngIf="viewIconMenu" (click)="clickMenu()">
    <mat-icon>menu</mat-icon>
  </a>
  <a class="logo" mat-button matTooltip="{{'goToMainPage' | translate}}" routerLink="/">
    <img src="../../assets/images/logo.png" alt="Logo">
  </a>

  <ng-container *ngIf="!viewIconMenu">
    <a mat-button routerLink="contacto">
      {{'contact' | translate}}
    </a>

    <a mat-button routerLink="cv">
      {{'CV' | translate}}
    </a>
  </ng-container>

  <span class="spacer"></span>

  <a mat-icon-button [matMenuTriggerFor]="lenguageContainer" matTooltip="{{ 'lenguage' | translate }}">
    <mat-icon>translate</mat-icon>
  </a>
  <mat-menu class="container-apps" #lenguageContainer="matMenu">

    <a class="flags" mat-menu-item (click)="switchLanguage('es')">
      <img src="../../assets/images/es.png" alt="FlagEs">
      <span>{{'spanish' | translate }}</span>
    </a>
    <a class="flags" mat-menu-item (click)="switchLanguage('en')">
      <img src="../../assets/images/en.png" alt="FlagEn">
      <span>{{'english' | translate }}</span>
    </a>
  </mat-menu>

</mat-toolbar>
