<mat-toolbar color="primary">
  <a mat-icon-button *ngIf="viewIconMenu" (click)="clickMenu()">
    <mat-icon>menu</mat-icon>
  </a>
  <a class="logo" mat-button matTooltip="Ir a la página principal" routerLink="/">
    <img src="../../assets/images/logo.png" alt="Logo">
  </a>

  <ng-container *ngIf="!viewIconMenu">
    <a mat-button routerLink="contacto">
      {{'contact' | translate}}
    </a>
    <!--<button mat-button>Dos</button>
    <button mat-button>Tres</button>-->
  </ng-container>

  <span class="spacer"></span>

  <a mat-icon-button [matMenuTriggerFor]="lenguageContainer" matTooltip="{{ 'lenguage' | translate }}">
    <mat-icon>translate</mat-icon>
  </a>
  <mat-menu class="container-apps" #lenguageContainer="matMenu">
    <a mat-menu-item (click)="switchLanguage('es')"><span>{{'spanish' | translate }}</span></a>
    <a mat-menu-item (click)="switchLanguage('en')"><span>{{'english' | translate }}</span></a>
  </mat-menu>

</mat-toolbar>
