app-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

app-footer {
  position: fixed;
  background-color: #a47c74;
  opacity: 0.7;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 2;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}
