@import 'app-theme.scss';
@import "~primeflex/primeflex.css";

html,
body {
  margin: 0;
  font-size: 14px;
  height: 100%;
}

.container {
  max-width: 1024px;
  margin: 56px auto;
  padding: 20px 20px 70px 20px;
  min-height: calc(100vh - 132px);
  transition: all 500ms ease-in-out;

  @media screen and (min-width: 1440px) {
    max-width: 1240px;
  }
}

@mixin media-breakpoint($media) {
  @if $media == sm {
    @media screen and (min-width: 576px) {
      @content;
    }
  } @else if $media == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $media == lg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
}

/* Flex container and responsive */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 6px 0;

  .mat-form-field {
    flex: 1 1 auto;
    max-width: 500px;
    width: 100%;

    + .mat-form-field, + .mat-radio-group, + button {
      margin: 6px 0;

      @include media-breakpoint(md) {
        margin: 0 0 0 20px;
      }
    }

    @include media-breakpoint(md) {
      width: auto;
    }
  }

  @include media-breakpoint(md) {
    flex-direction: row;
  }
}

a {
  text-decoration: none;
}

b {
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

textarea.mat-input-element {
  resize: none !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label mat-label {
  font-size: 15.5px;
  font-weight: 500;
}

.timepicker-backdrop-overlay, .timepicker-overlay {
  z-index: 10000 !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-content {
  overflow: hidden;
}

.mat-radio-group {
  mat-label {
    display: block;
    margin-bottom: 10px;
  }

  .mat-radio-button {
    margin: 0 10px 0 0;
  }
}

html.cdk-global-scrollblock {
  position: initial !important;
}

html.cdk-global-scrollblock body {
  position: fixed;
}

/* Custom design for tables */
.responsive-table {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and (max-width: 767px) {
    border: 0;
    vertical-align: middle;
  }

  .mat-header-cell, .mat-cell {
    &:not(:first-child):not(:last-child) {
      padding: 10px;
    }
  }

  .mat-row .actions {
    display: flex;

    .mat-icon {
      display: none;

      @media screen and (max-width: 767px) {
        display: inline-block !important;
      }
    }
  }

  .mat-row:hover {
    .actions .mat-icon {
      display: inline-block;
    }
  }

  @media screen and (max-width: 767px) {
    .mat-header-row {
      display: none;
    }

    .mat-row {
      display: block;
      height: auto;
      padding: 0 16px;
      margin: 8px -16px;

      &:last-child {
        border: none;
      }
    }

    .mat-cell {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px !important;
      text-align: right;

      &:before {
        content: attr(aria-label);
        font-size: 12px;
        font-weight: 500;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.mat-drawer-inner-container {
  height: calc(100vh - 113px) !important;
}

.menu-container {
  //top: 89px !important;
  bottom: 56px !important;

  .menu-content .menu-item p {
    line-height: normal;
  }
}

.details-content img {
  width: 100%;
}

.submenu-content .mat-expansion-panel .mat-expansion-panel-header p {
  font-size: 74% !important;
}

.mat-card-header-text {
  width: calc(100% - 35px);
}

.header-content {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .mat-card-header-text {
    width: auto;
  }

  * {
    margin: 0;
  }
}

.alert-panel {
  background-color: #f7fffd;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #91bef6;
  color: #172297;

  p {
    margin: 0;
  }
}
